In [1]:
import requests
import threading
import json
import pandas as pd
import numpy as np
import re
import bs4
import traceback


MARGIN_COL = 5
VOTE_RATE = 0.3
URL_CHAIN = 'http://35.188.227.39:8080/enhancer/chain/scorpiosvchain'
LABEL_CHAIN = 'http://fise.iks-project.eu/ontology/entity-label'
TYPE_CHAIN = 'http://fise.iks-project.eu/ontology/entity-type'

In [2]:
def strip(s):
    return ''.join(re.split('[^a-zA-Z0-9]', s.lower()))

def get_start_of_word(s):
    it = re.finditer('[a-zA-Z0-9,\./\+]+', s)
    return [ i.start() for i in it ]

def split_row(row, pos):
    r = []
    for i in range(0, len(pos) - 1):
        r.append(row[pos[i]:pos[i + 1]])
    r.append(row[pos[-1]:])
    return r

def is_null_row(row):
    return row.isnull().sum() == len(row)

In [3]:
def request_word(word):
    try:
        r = requests.post(URL_CHAIN, data=str(word).encode('utf-8'), headers={'Content-Type': 'application/pdf'})
        r = r.json()

        res = []
        track = []
        for obj in r:
            if LABEL_CHAIN in obj:
                v = obj[LABEL_CHAIN][0]['@value']
                if strip(v) not in track:
                    res.append(v)
                    track.append(strip(v))
        return res
    except Exception as e:
        traceback.print_exc()
    
    
def request_header(word, res):
    r = request_word(word)
    if len(r) > 0:
        print(r[0])
        res.append(r[0])

def request_row(table, index, res):
    r = []
    row = table.iloc[index].dropna().tolist()
    length, width = table.shape
    print(len(row), width)
    if len(row) / width <= 0.4 and width <= 50:
        res[index] = []
        return

    threads = [ threading.Thread(target=request_header, args=(word, r)) for word in row ]

    for thread in threads:
        thread.start()

    for thread in threads:
        thread.join()

    res[index] = r

In [4]:
def separate_tables(raw_tables, table_margin=2):
    count = 0
    tables = {}
    for table in raw_tables:
        height, width = table.shape

        irow = 0
        istart = 0
        iend = 0

        while irow < height:
            while irow < height and is_null_row(table.iloc[irow]):
                irow += 1
            istart = irow

            while irow < height:
                while irow < height and (not is_null_row(table.iloc[irow])):
                    irow += 1
                iend = irow

                while irow < height and is_null_row(table.iloc[irow]):
                    irow += 1

                if irow - iend < table_margin:
                    irow += 1
                else: 
                    iend = irow 
                    break

            if iend - istart >= table_margin:
                tables['table_' + str(count)] = table.iloc[istart:irow].copy()
                count += 1

    return tables

# HTML

In [5]:
def format_html_table(raw_tables):
    for table in raw_tables:
        height, width = table.shape
        for col in table.columns:
            new_col = table[col].apply(lambda x: None if isinstance(x, str) \
                and len(x) > 0 \
                and (ord(x[0]) < 32 or ord(x[0]) > 126)  \
                else x)
            table[col] = new_col
            
        for ih in range(height):
            current_value = table.iloc[ih, 0]
            for iw in range(1, width):
                if table.iloc[ih, iw] == current_value:
                    table.iloc[ih, iw] = np.nan
                else:
                    current_value = table.iloc[ih, iw]

#         for ih in range(height):
#             same_value = True
#             first_value = table.iloc[ih, 0]
#             for iw in range(1, width):
#                 if not pd.isnull(table.iloc[ih, iw]) and table.iloc[ih, iw] != first_value:
#                     same_value = False
#                     break

#             if same_value:
#                 for iw in range(1, width):
#                     table.iloc[ih, iw] = np.nan

In [7]:
with open('../data/p5materials/html/c24.html') as f:
    soup = bs4.BeautifulSoup(f, features='lxml')
    for t in soup(['script', 'style', 'meta']):
        t.extract()
    pretty_soup_str = soup.prettify()
    pretty_soup_str = re.sub('\s+<span', '<span', pretty_soup_str)
    
    
raw_tables = pd.read_html(pretty_soup_str)
format_html_table(raw_tables)
tables = separate_tables(raw_tables, table_margin=1)

TypeError: 'str' object is not callable

In [9]:
soup = bs4.BeautifulSoup(open('../data/p5materials/html/c24.html'), features='lxml')
for t in soup(['script', 'style', 'meta']):
    t.extract()
pretty_soup_str = soup.text

print(pretty_soup_str)

DIETZE_CPP_POSITION_LIST_BSS_USG_(HOUSTON)







DIETZE PRODUCTS LLC

APRIL 08TH, 2019


ATTN: CLEAN DESK

CPP POSITION LIST BSS USG (HOUSTON)


ETA    VESSEL                     DWT  CUB  OPEN   PORT             FLEET            COMMENTS

===    ======                     ===  ===  ====   ====             =====            ========

04/08  SEABREEZE                   53   56  04/08  USG              THENAMARIS       PPT

       CRIMSON PEARL               51   52  04/08  USG              DAMICO           PPT

       NORDIC AMY                  37   40  04/08  USG              UPT              PPT

       ATLANTIC ROSE               49   51  04/08  USG              DIAMONDS         PPT

       PLATYTERA                   47   52  04/08  USG              CLEARLAKE        PPT

       ANCE                        52   56  04/08  USG              VITOL            PPT

       RIDGEBURY KATHERINE Z       50   52  04/08  USG              NORIENT          PPT

       MAERSK MARMARA              51   52  04/08  USG              MAERSK TANK      PPT

04/09  STI MILWAUKEE               49   52  04/08  CIUDAD MADERO    SCORPIO          IF

       SEAWAYS ANTIGMAR            46   52  04/09  HOUSTON          CPTA             SUBS

       PTI AMAZON                  51   52  04/09  USG              ST SHIPPING      BALLAST

       SUNNY BAY                   50   52  04/09  HOUSTON          SCORPIO          SUBS

       ZOILO                       49   53  04/09  USG              TANKERSKA        BALLAST

04/10  HELLAS ENTERPRISE           51   52  04/10  HOUSTON          BP               LC.UMS

04/11  STAR KESTREL                51   52  04/11  USG              KOCH             SUBS

04/12  SW JULIA I                  40   42  04/09  FREEPORT (BAH    UPT              SUBS

       RELIANCE II                 46   52  04/11  CIUDAD MADERO    CASTLETON        LC.UMS

       SILVER ROTTERDAM            49   51  04/12  USG              SHELL            BALLAST

       HARUNA EXPRESS              45   52  04/12  USG              AMT              BALLAST

04/13  AG MARS                     50   53  04/08  CARIB            KOCH             BALLAST

       SUNNY HORIZON               52   50  04/08  BALBOA           TRAFIGURA        BALLAST

       OBSIDIAN                    49   51  04/08  PUERTO MOIN      VALERO

       HELLAS AVATAR               49   52  04/08  CRISTOBAL        CLEARLAKE        BALLAST
       SEA HERMES                  45   50  04/08  CRISTOBAL        DAMICO           BALLAST

       TEAM CORRIDO                46   51  04/10  PORT CANAVERAL   TEAMTANK         LC.UMS

       SEAWAYS MILOS               50   52  04/11  PAJARITOS        CPTA             LC.UMS

04/14  NAVIG8 AMETRINE             37   38  04/08  JOSE TERMINAL    NAVIG8           PPT

       SPRUCE EXPRESS              51   52  04/08  NEW YORK         AMT              PPT

       STI SAN TELMO               49   52  04/08  USAC             SCORPIO          BALLAST/UKC

       JANE                        51   52  04/09  BALBOA           PRODUCT SHIP     BALLAST

       ENERGY PATRIOT              46   51  04/09  POZOS COLORADOS  VALERO           LC.UMS

       CELSIUS RIMINI              53   56  04/09  CRISTOBAL        DAMICO           BALLAST

       ANDIAMO                     48   52  04/14  CORPUS CHRISTI   PRIMETANK        LC.UMS

04/15  LARA                        50   53  04/09  NEW HAVEN        CARGILL          LC.UMS

       SUNNY ISLES                 50   52  04/09  PHILADELPHIA     SCORPIO

       QUARTZ                      49   51  04/09  PHILADELPHIA     VALERO           LC.UMS

       CITRINE                     49   51  04/10  POZOS COLORADOS  VALERO           LC.UMS

       PTI HERCULES                51   52  04/10  BALBOA           CPTA             BALLAST

       NORD JOY                    49   53  04/10  BALBOA           SHELL            BALLAST

       TORM MARY                   46   52  04/10  PUNTA CARDON     TORM             LC.ALKY

       ISOLDE                      37   40  04/10  CRISTOBAL        SCORPIO          BALLAST

       PACIFIC AZUR                49   51  04/11  SAVANNAH         EPS              LC.PALM

       STI NOTTING HILL            49   52  04/11  KINGSTON (JAM    SCORPIO

04/16  DK ABDUL RAZZAK KHALID ZA   50   52  04/09  TRINIDAD AND TO  SHELL            BALLAST

       MAHADAH SILVER              45   52  04/09  TALARA           SHELL

       ATLANTIC BREEZE             44   51  04/10  NEW YORK         DIAMONDS         LC.NAP

       SILVER VENUS                49   52  04/10  NEW YORK         SHELL            IF

       ATLANTIC JOURNEY            49   52  04/10  NEW HAVEN        CLEARLAKE

       NAVE TITAN                  49   52  04/10  NEW YORK         VITOL
       RICH WIND                   47   50  04/11  BARRANQUILLA     NORIENT

       AEGEAN WAVE                 51   52  04/11  POZOS COLORADOS  DIAMONDS         LC.NAP

       STRIMON                     49   51  04/11  BALBOA           PLEIADES         BALLAST

       TURQUOISE                   49   51  04/12  CHARLESTON       VALERO           LC.UMS

       STRYMON                     47   52  04/12  SAVANNAH         LIVANOS

04/17  ALLEGRO                     46   51  04/11  SAN JUAN         TEAMTANK         LC.UMS

       AVANTI                      45   50  04/11  ST EUSTATIUS     PRIMETANK        IF

       MARKOS I                    45   49  04/11  ESMERALDAS       KOCH

       MINERVA MEDITERRANEA        47   50  04/12  BALBOA           MINERVA          BALLAST

       LUCTOR                      50   51  04/12  POZOS COLORADOS  BP               LC.NAP

       NAVE ORBIT                  49   52  04/12  BALBOA           CHEVRON          BALLAST

       SEA FAITH                   46   50  04/16  BROWNSVILLE      SEA WORLD        LC.UMS

04/18  SCF USSURI                  50   51  04/12  NEW YORK         SCF
       HAFNIA DAISY                49   46  04/12  NEW YORK         VALERO           LC.JET

       TORM LENE                   53   50  04/12  NEW YORK         TORM             LC.NAP

       VALROSSA                    50   52  04/14  JACKSONVILLE     MONTANARI        LC.ULSD

04/19  CEYLON                      46   50  04/10  LA PAMPILLA      EPS

       ENERGY PANTHER              46   51  04/10  CALLAO           EXXON            LC.ULSD
       KRITI AMBER                 50   60  04/13  NEW YORK         ST SHIPPING

       UNIQUE EXPLORER             50   52  04/13  NEW YORK         MAERSK TANK      IF

       MARIPOSA                    50   52  04/14  CARIB            ALBERTA          LC.UMS

04/20  SEAWAYS SKOPELOS            50    1  04/08  LA PAZ           CPTA             PPT

       STI WESTMINSTER             49   52  04/10  MONTREAL         SCORPIO          IF

       ELKA ANGELIQUE              44   53  04/13  TRINIDAD AND TO  ELKA             BALLAST

       PARSIFAL II                 37   40  04/13  DARTMOUTH        SCORPIO          LC.UMS

       SCF DON                     50   51  04/14  NEW YORK         SCF              LC.NAP

       IRON POINT                  50   50  04/14  HOVENSA REFINER  KOCH             IF

       NORD VANTAGE                50   51  04/15  RIO HAINA        UNIONMAR         LC.UMS

04/21  PTI SEXTANS                 51   52  04/09  LA PAZ           CPTA             SUBS

       MISS BENEDETTA              50   52  04/13  ACAJUTLA         CPTA             LC.UMS

       SEAWAYS ATHENS              50   52  04/14  CORINTO          CPTA
       LINCOLN                     51   52  04/14  TRINIDAD AND TO  UNIONMAR         BALLAST

       CAPE BRASILIA               40   42  04/15  ECUAD            UPT              LC.UMS

       ADAMAS I                    50   52  04/16  ARUBA            CARBON SHIPPING  UNCERT

       SM OSPREY                   50   51  04/16  BALBOA           CLEARLAKE        BALLAST

04/22  STI DAMA                    49   51  04/10  LA PAZ           SCORPIO          BALLAST

       SCF ANGARA                  50   51  04/14  POINT TUPPER     SCF

       GULF JUMEIRAH               46   51  04/17  BAHIA LAS MINAS  GEM

04/23  BW MYNA                     49   51  04/09  ROSARITO         HAFNIA-BW        LC.UMS

       SEAWAYS KYTHNOS             50   52  04/11  TOPOLOBAMPO      CPTA             LC.UMS

       FIDELITY II                 48   52  04/16  BOSTON (MA       TRANSPETROL      LC.UMS

       NAVIG8 VIOLETTE             49   50  04/17  NEW YORK         NAVIG8

       NORDIC AGNETHA              37   41  04/17  NEW YORK         UPT              IF

04/24  ORIENT STAR                 45   50  04/12  GUAYMAS          HAFNIA-BW        LC.ULSD

04/25  ALPINE ETERNITY             46   52  04/13  GUAYMAS          ST SHIPPING

       TORM ATLANTIC               49   56  04/13  CALDERA (CHILE   TORM             LC.ULSD

       STI ESLES II                49   52  04/15  MONTREAL         SCORPIO          LC.ULSD

       NORD VALIANT                49   51  04/19  NEW YORK         STENABULK        IF

       SW CAP FERRAT I             36   41  04/19  ESMERALDAS       DAMICO           LC.VEG
04/26  FPMC 21                     50   52  04/11  ARATU            ST SHIPPING

       DONG-A KRIOS                49   51  04/11  SAN FRANCISCO    CPTA             LC.JET

       MERSINI                     51   55  04/12  LOS ANGELES      ST SHIPPING

       STENAWECO ENERGY            49   51  04/19  TRINIDAD AND TO  STENABULK        BALLAST

       ELKA SIRIUS                 45   52  04/19  SAINT JOHN       ELKA             LC.UMS

04/27  GLENDA MEGAN                47   53  04/13  LOS ANGELES      VALERO           LC.UMS

       BRIGHT FORTUNE              48   52  04/15  GUAYMAS          NORIENT          LC.ULSD

       MINERVA JULIE               50   53  04/17  MONTREAL         TRAFIGURA        LC. JET

       FOURNI                      51   53  04/21  NEW YORK         ELETSON

       VUKOVAR                     49   53  04/22  CARIB            TANKERSKA        IF

04/28  ELECTA                      51   51  04/08  BUENOS AIRES     VITOL

       STI GRAMERCY                49   51  04/14  ROSARITO         SCORPIO

04/29  GALISSAS                    50   52  04/20  CALLAO           ST SHIPPING
       ATHINA M                    51   52  04/22  POINTE A PIERRE  EASTMED

       ARDMORE DAUNTLESS           37   38  04/23  ECUAD            ARDMORESHIP      LC.UMS

04/30  ELANDRA REDWOOD             49   51  04/12  PARANAGUA        VITOL

       GULF MUTTRAH                46   51  04/16  LOS ANGELES      BP

       SEA HALCYONE                47   52  04/24  SAN JUAN         SEA WORLD        LC.UMS

05/01  BW LYNX                     49   51  04/13  CHERRY POINT     HAFNIA-BW        LC.UMS

       HSL ANNA                    51   53  04/16  SAN FRANCISCO    HAFNIA-BW        LC.NAP

       TORM ALEXANDRA              49   52  04/17  LOS ANGELES      TORM             LC.JET

       YASA SEAGULL                49   52  04/18  QUINTERO         VALERO

05/02  CULPEO                      46   51  03/22  TOPOLOBAMPO      CPTA             IF

       ELKA GLORY                  44   53  04/25  SAINT JOHN       ELKA             IF

       MARITIME KELLY ANNE         44   52  04/25  TRINIDAD AND TO  AURORA

05/03  ALPINE LIBERTY              50   52  04/27  NEW YORK         CLEARLAKE        LC.COND

05/04  NORD SWIFT                  49   51  04/16  CHERRY POINT     NORIENT          LC.NAP

       HIGH COURAGE                46   51  04/20  CORONEL          EXXON            IF

05/05  ARDMORE ENDURANCE           49   51  04/21  LOS ANGELES      ARDMORESHIP      LC.JET

05/07  UNIQUE GUARDIAN             50   51  04/08  QUINTERO         NORIENT          LC.ULSD



Best Regards,
Phillip Lambiase
Dietze Products LLC
W +1203-762-3500
M +1631-560-5762
Ice ID: Plambiase
Email: Plambiase@dietzeproducts.com

In [ ]:
OVERLAP_URL = 'http://35.186.166.22:8082/portal/servlet/service/Poheader.poi'

def overlap(word_pos, header_item_pos):
    try:
        data = json.dumps({
            'user_name': 'carrotrule_xyz.com',
            'project_name': 'DataExtractionPO-2',
            'Rule_Engine': 'RuleData-2',
            'RawJson': {
                'wX1': word_pos[0],
                'wX2': word_pos[1],
                'hX1': header_item_pos[0],
                'hX2': header_item_pos[1],
            }
        })

        r = requests.post(OVERLAP_URL, data=data)
        print(json.dumps(data, indent=2))
        print('hello', r.json())
        return None
        return r.json()['hw1o'] == 'OVERLAP'
    except Exception as e:
        traceback.print_exc()
        return word_pos[1] >= header_item_pos[0] and word_pos[0] <= header_item_pos[1]
    
r = overlap((4, 6), (7, 8))
print(r)

In [19]:
request_word('SPORE/MSIA/INDO/THAI')

[]